ion-card {
    flex-direction: column center !important;
    transform: translate(50%, 100%) !important;
    width: 50% !important;
    margin: 0 !important;
    position: fixed !important;
    text-align: center !important;
    position: relative !important;
}