  
<ion-header>
  <ion-toolbar>
    <ion-title>
      Showcase
    </ion-title>
    <ul>
      <ion-button routerLink = "/home" routerLinkActive= "active">Home</ion-button>
      <ion-button routerLink = "/profile" routerLinkActive = "active">Profile</ion-button>
      <ion-button routerLink = "/community" routerLinkActive = "active">Community</ion-button>
    </ul>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-card>
      <ion-card-content>
        Share your collection with the world and discover what others have to share
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>